.informacion {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.info{
    width: 50%;
    padding: 0 1rem 0 1rem;
    justify-content: center;
    display: block;
}

.info-img {
    height: auto;
    width: 50%;
    object-fit: cover;
}

.titulo-info {
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 50px;
    font-weight: 400;
    border-radius: 4px;
}

.sup-titulo {
    margin-top: 30px;
    text-align: center;
    margin : 0 8rem 0 8rem;
    font-size: 24px;
    font-weight: 400;
    border-radius: 4px;
}

.info-contenido {
    margin-top: 20px;
    text-align: center;
}

.valores {
    display: flex;
    line-height: 20px;
    margin-top: 12px;
    justify-content: center;
}

.valores1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 180px;
}

.valores2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 50px;
}

.valores .fas {
    font-size: 1rem;
    line-height: 0px;
}


@media (max-width: 56rem) {
    .informacion {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .info-img{
        width: 100%;
        object-fit: cover;
    }
    .info{
        width: 100%;
    }
    .valores {
        display: flex;
        line-height: 20px;
        margin-top: 20px;
    }
    .valores1 {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 60px;
    }
    
    .valores2 {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 30px;
    }
  }

    @media (max-width: 40rem) {
        .informacion {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        }
        .info-img{
            width: 100%;
            object-fit: cover;
        }
        .info{
            width: 100%;

        }
        .valores {
            display: flex;
            line-height: 20px;
            margin-top: 20px;
        }
        .valores1 {
            display: flex;
            flex-direction: column;
            text-align: left;
            margin-left: 60px;
        }
        .valores2 {
            display: flex;
            flex-direction: column;
            text-align: left;
            margin-left: 30px;
        }
    }